.logo {
	--logoStrokeWidth: 1px;
	--logoStrokeWidthInv: calc(var(--logoStrokeWidth) * -1);
	filter: drop-shadow(var(--logoStrokeWidth) 0 0 var(--fg))
		drop-shadow(var(--logoStrokeWidthInv) 0 0 var(--fg))
		drop-shadow(0 var(--logoStrokeWidth) 0 var(--fg))
		drop-shadow(0 var(--logoStrokeWidthInv) 0 var(--fg))
		drop-shadow(var(--logoStrokeWidth) var(--logoStrokeWidth) 0 var(--fg))
		drop-shadow(var(--logoStrokeWidthInv) var(--logoStrokeWidthInv) 0 var(--fg))
		drop-shadow(var(--logoStrokeWidth) var(--logoStrokeWidthInv) 0 var(--fg))
		drop-shadow(var(--logoStrokeWidthInv) var(--logoStrokeWidth) 0 var(--fg));
	transition:
		color 0.15s ease-in-out,
		filter 0.15s ease-in-out;
}

.logo:hover {
	--logoStrokeWidth: 2px;
	--logoStrokeWidthInv: calc(var(--logoStrokeWidth) * -1);
}
